
<div class="search-layout">
    <div class="search-navbar-layer-two">

     <!-- search navbar -->
     <div class="search-navbar">
        
        <div class="search-navbar-main">
            <div class="home">
                <a href="">Home</a>
            </div>
            <div class="about">
                <a href="">About</a>
            </div>
            <div class="contact">
                <a href="">Contact</a>
            </div>
        </div>
        
        <div class="search-navbar-signout">
            <a href="" (click)="signOutUser()">Sign Out</a>
        </div>
            
        
    </div>

    <!-- search main -->
    <div class="search-layer-main">
        <div class="search-layer-main-layer-two">

            <!-- search header -->
        <div class="search-header">
            <div class="search-header-layer-two">

                <div class="search-city">
                    <input type="text" [(ngModel)] = "city" placeholder="City...">
                </div>
                <div class="search-button">
                    <button class="btn btn-danger" type="submit" (click)="onSubmitSearch()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                          </svg>
                    </button>
                </div>
            </div>
        </div>
    <!-- search main result -->
        <div class="search-result">
            <div class="search-result-layer-two">
                <span>{{weather}} </span>
                
            </div>
        </div>
        </div>
    
   
        
    </div>
</div>
